version: '3.8'
services:
  db:
    image: postgres:17-alpine
    container_name: auth-db
    env_file:
      - .env
    ports:
      - "5432:5432"
    volumes:
      - auth_data:/var/lib/pgsql/data
  
volumes:
  auth_data: